/* https://coolors.co/palette/dad7cd-a3b18a-588157-3a5a40-344e41 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #a3b18a;
  font-family: "Roboto", sans-serif;
}
article {
  text-align: center;
  padding: 10px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.flex {
  margin-top: 5px;
}
.hidden {
  display: none;
}
.counter-text,
.output-str,
.greeting,
button,
label {
  color: #344e41;
}
.error-text {
  color: rgb(205, 9, 9);
  font-size: 16px;
}
.greet-me-btn,
.radio-btn {
  cursor: pointer;
}
.greeting {
  border: 1px solid #344e41;
  padding-block: 15px;
  margin-bottom: 20px;
  font-size: 30px;
  letter-spacing: 0.9px;
}
.text-input {
  padding: 10px 10px;
  margin-right: 5px;
}
button {
  background: none;
  padding: 10px 25px;
  border-radius: 4px;
}
.greet-me-btn {
  border: none;
  background-color: #588157;
  color: #dad7cd;
}
.counter-text {
  font-size: 40px;
  margin-block: 10px;
  margin-left: 10px;
}
.radio-btns {
  margin-bottom: 14px;
}
.radio-btn {
  margin-left: 14px;
}
.reset-btn {
  border: 1px solid #dad7cd;
}
.output-str {
  font-size: 20px;
  margin-bottom: 45px;
  font-weight: 500;
}
@media (min-width: 788px) {
  .greeting {
    padding-block: 20px;
    font-size: 40px;
    margin-bottom: 30px;
  }
  .text-input {
    margin-right: 10px;
  }
  .counter-text {
    font-size: 50px;
  }
  label,
  .greet-me-btn,
  .reset-btn {
    font-size: 16px;
    font-weight: 400;
  }
}
